<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <%if current_user.admin?%>
        <th scope="col">Buyer</th>
      <%end%>
      <th scope="col">Status</th>
      <th scope="col">Price</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <%if current_user.admin?%>
          <td><%= order.user_name %></td>
        <%end%>
        <td><%= order.status %></td>
        <td><%= order.price %></td>
        <td>
          <%= link_to 'Show', order, :class => 'btn btn-info ' %>
          <%if order.status != "Delivered"%>
            <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger ' %>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

