
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
      <% if !product.image.attached? %>
          <img class="card-img-top" src="http://placehold.it/700x400" alt="">
      <% else %>
          <%= image_tag(product.image, :class=>"card-img-top")if product.image.attached?%>
      <% end %>
    <div class="card-body">
      <h4 class="card-title">
        <%= link_to( "#{product.title}".html_safe,
        product_path(product.id), # TODO hardwired
        'data-popup' => true,
        :controller => 'products',
        :action => 'show',
        remote: true,
        'data-toggle' => "modal", 
        'data-target' => '#modal-window'
        ) %><br>
      </h4>
      <h5><%= product.price %> $</h5>
      <p class="card-text"><%= product.description %></p>
    </div>
    <div class="card-footer">
      <div class="text-center">
          <small class="text-muted">★ ★ ★ ★ ☆</small>
      </div>
      <% if ! user_signed_in? || current_user.buyer?%>
      <div class="d-flex justify-content-end bd-highlight mb-3">
          <div class="p-1 bd-highlight">   
              <%= form_with model: @shopping_cart, local: true do |form| %>
               <% if @shopping_cart.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@shopping_cart.errors.count, "error") %> prohibited this shopping_cart from being saved:</h2>
                  <ul>
                    <% @shopping_cart.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
                  <%= form.hidden_field(:product_id, :value => product.id) %>
                  <div class="row">
                    <%= form.number_field :quantity, :max => product.in_stock_quantity, min: 1, :class => 'w-25 mx-1 col-4 form-control', :value => 1  %>
                    <%= form.submit "Add to cart", class: "col-7 btn btn-primary"%>
                  </div>
              <% end %>
          </div>
      </div>
      <%end%>
    </div>
  </div>
</div>
  