
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                  <% if !product.image.attached? %>
                    <%= image_tag "placeholder.png", class: "card-img-top", :size=>"245x140", alt: "" %>
                  <% else %>
                      <%= image_tag(product.image, :class=>"card-img-top", :size=>"245x140")if product.image.attached?%>
                  <% end %>
                <div class="card-body">
                  <h4 class="card-title">
                    <%= link_to( "#{product.title}".html_safe,
                    product_path(product.id), # TODO hardwired
                    'data-popup' => true,
                    :controller => 'products',
                    :action => 'show',
                    remote: true,
                    'data-toggle' => "modal", 
                    'data-target' => '#modal-window'
                    ) %><br>
                  </h4>
                  <h5><%= product.price %> $</h5>
                  <p class="card-text"><%= product.description %></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">★ ★ ★ ★ ☆</small>
                  <div class="d-flex justify-content-end bd-highlight mb-3">
                      <div class="p-1 bd-highlight">   
                          <%= form_with(url: shopping_carts_path, method: "post") do |form| %>
                              <%= form.hidden_field(:product_id, :value => product.id) %>
                              <div class="row">
                                <%= form.number_field :quantity, :max => product.in_stock_quantity, :class => 'w-25 mx-1 col-4 form-control', :value => 1  %>
                                <%= form.submit "Add to cart", class: "col-7 btn btn-primary"%>
                              </div>
                          <% end %>
                      </div>
                  </div>
                </div>
              </div>
            </div>
  