

<%= form_with(model: Product, method: :get, :remote => true, :html => { :id => 'new-product-form' }) do %>
    <div class="input-group">
        <div class="field">
            <%= search_field_tag :min, params[:min], placeholder: "min", class: "form-control min" %>
        </div>
        <div class="field">
            <%= search_field_tag :max, params[:max], placeholder: "max", class: "form-control max" %>
        </div>
        <%# <%= select_tag :brand_id, options_for_select(Brand.all, selected: params[:brand_id]) %>
        <%# <%= options_for_select(cities_array) %>
        <% homePresenter = HomePresenter.new %>
        <% brands_array = homePresenter.allBrands %>
        <%= select_tag :brand_id, options_for_select(brands_array,params[:brand_id]), {:include_blank => "brand",class: 'btn btn-outline-info'} %>

        <% categories_array = homePresenter.allCategories %>
        <%= select_tag :category_id, options_for_select(categories_array,params[:category_id]), {:include_blank => "category" ,class: 'btn btn-outline-info'}%>

        <% stores_array = homePresenter.allStores %>
        <%= select_tag :store_id, options_for_select(stores_array,params[:store_id]), {:include_blank => "store" ,class: 'btn btn-outline-info'} %>

        <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control mysearch" %>
        <div class="input-group-btn">
            <%= button_tag "search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
        </div>

    </div>
<% end %>
