<h1>new</h1>
<%= form_with(model:@product, local: true) do |form| %>

<% if @product.errors.any? %>
  <div id="error_explanation" class="alert error_msg">
    <h2>
      <%= pluralize(@product.errors.count, "error") %> prohibited
      this product from being saved:
    </h2>
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
</div>

<div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
</div>

<div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
</div>

<div class="field">
    <%= form.label :in_stock_quantity %>
    <%= form.number_field :in_stock_quantity %>
</div>

<div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
</div>

<div class="field">
    <%=form.label :brand_id%>
    <%= form.collection_select(:brand_id , Brand.all, :id,:name) %>
</div>

<div class="field">
    <%=form.label :category_id%>
    <%= form.collection_select(:category_id , Category.all, :id,:name) %>
</div>

<div class="field">
  <% if current_user.admin? %>
    <%= select('product', :store_id, options_for_select(@stores.collect{ |u| [u.name, u.id] })) %>
  <% elsif current_user.seller? %>
    <%= current_user.store.name %>
  <% end %>
</div>
<%= form.submit %>
<% end %>
